<section class="bar" id="barsession">
    <div id="mapForUserlocation"></div>
    <div class="bar__div">
        <h1 class="bar__div__name">{{ name }}</h1>
        <p class="bar__div__type">Type: {{ type }}</p>
        <p class="bar__div__type">Rating: {{ rating }}</p>
    </div>
    <div class="bar__challenges" id="bar__challenges">
        <button class="bar__challenges__button" id="checkin">Check In</button>
    </div>
</section>