
<h1>{{ heading }}</h1>

<ul>
    {{#each barData}}
    <li>
    <a href="{{this.id}}">
        <div>
            <h2>{{ this.name }}</h2>
            <p>{{this.rating}}</p>
        </div>
    </a>
    </li>
    {{/each}}
    
</ul>
