.header{
    text-align: center;
    .icon{
        &--nav{
            width: 10vw;
            max-width: 90px;
            &:hover{
                cursor: pointer;
            }
        }
        &--banner{
            display: block;
            width: 28vw;
            max-width: 150px;
            margin:0 auto;
        }
    }
    .navbar{
        display: flex;
        justify-content: center;
        border: $light-gray solid 2px;
        padding: 0;
        &__link{
            list-style-type: none;
            width: 100%;
            border-left: 2px solid $light-gray;
            &--first{
                border:none;
            }
            a{
                display: block;
                padding-top: 3%;
                padding-bottom: 1%;
                width: 100%;
                &:hover{
                    background-color: $turquoise;
                }
            }
        }
    }
    &.profile{
        #menu1{
            background-color: $turquoise;
        }
    }

    &.map{
        #menu2{
            background-color: $turquoise;
        }
    }

    &.list{
        #menu3{
            background-color: $turquoise;
        }
    }
}