.header{
    text-align: center;
    background-color: $dark-gray;
    height: 15%;
    .icon{
        height: 30%;

        &--nav{
            &:hover{
                cursor: pointer;
            }
        }
        &--banner{
            display: block;
            max-width: 100px;
            margin:1% auto;
        }
    }
    nav{
        height: 70%;
    }
    .navbar{
        color: $light-gray;
        display: flex;
        justify-content: center;
        border: $light-gray solid 2px;
        padding: 0;
        margin:0;
        &__link{
            list-style-type: none;
            width: 100%;
            border-left: 2px solid $light-gray;
            &--first{
                border:none;
            }
            a{
                display: block;
                padding: 2% 0;
                width: 100%;
                text-decoration: none;
                font-size: .7em;
                &:hover, &:focus{
                    background-color: $turquoise;
                }
                &.selected{
                    background-color: $turquoise;
                }
            }
        }
    }
}