    <header class="header" id="navigation">
        <a href="./">
            <img class="icon--banner" src="./images/logo.svg" alt="Link to map">
        </a>
        <nav>
            <ul class="navbar">
            <li class="navbar__link navbar__link--first">
                <a href="./profile" id="profile-link">
                    <img class="icon--nav" src="./images/profile.svg" alt="Link to user profile">
                </a>
            </li>
            <li class="navbar__link">
                <a href="./map" id="map-link">
                    <img class="icon--nav" src="./images/compass.svg" alt="Link to map">
                </a>
            </li>
            <li class="navbar__link">
                <a href="./bars" id="bars-link">
                    <img class="icon--nav" src="./images/barlist.svg" alt="Link to bar list">
                </a>
            </li>
            </ul>
        </nav>
    </header>
    <script>
    var url = window.location.pathname;
    var filename = url.substring(url.lastIndexOf('/')+1, url.lastIndexOf('.'));
    
    var navigation = document.getElementById('navigation');
    navigation.classList.add(filename);
    console.log(filename);
    </script>