<div class="rating">
    <img src="./images/star_0.svg" class="rating__0"/>
    <img src="./images/star_0.svg" class="rating__1" />
    <img src="./images/star_0.svg" class="rating__2" />
    <img src="./images/star_0.svg" class="rating__3" />
    <img src="./images/star_0.svg" class="rating__4" />
</div>