<div class="rating">
    <img src="./images/star_0.svg" alt=""/>
    <img src="./images/star_0.svg" alt="" />
    <img src="./images/star_0.svg" alt="" />
    <img src="./images/star_0.svg" alt="" />
    <img src="./images/star_0.svg" alt="" />
</div>